backend/org.cpntools.accesscpn.model.importer/resources/6/cpn.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--W3C Schema generated by XMLSpy v2006 sp1 U (http://www.altova.com)-->
<!--Please add namespace attributes, a targetNamespace attribute and import elements according to your requirements-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:import namespace="http://www.w3.org/XML/1998/namespace"/>
	<xs:complexType name="alias">
		<xs:sequence minOccurs="0">
			<xs:element ref="id"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="alias" type="alias"/>
	<xs:complexType name="and">
		<xs:sequence maxOccurs="unbounded">
			<xs:element ref="ml"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="and" type="and"/>
	<xs:complexType name="annot">
		<xs:sequence>
			<xs:element ref="posattr"/>
			<xs:element ref="fillattr"/>
			<xs:element ref="lineattr"/>
			<xs:element ref="textattr"/>
			<xs:element ref="text"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID"/>
	</xs:complexType>
	<xs:element name="annot" type="annot"/>
	<xs:complexType name="arc">
		<xs:sequence>
			<xs:element ref="posattr"/>
			<xs:element ref="fillattr"/>
			<xs:element ref="lineattr"/>
			<xs:element ref="textattr"/>
			<xs:element ref="arrowattr"/>
			<xs:element ref="transend"/>
			<xs:element ref="placeend"/>
			<xs:element ref="bendpoint" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="annot" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID"/>
		<xs:attribute name="orientation" type="xs:string"/>
		<xs:attribute name="order" type="xs:string"/>
	</xs:complexType>
	<xs:element name="arc" type="arc"/>
	<xs:complexType name="arrowattr">
		<xs:complexContent>
			<xs:restriction base="xs:anyType">
				<xs:attribute name="headsize" type="xs:string"/>
				<xs:attribute name="currentcyckle" type="xs:string"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="arrowattr" type="arrowattr"/>
	<xs:complexType name="Aux">
		<xs:sequence>
			<xs:element ref="posattr"/>
			<xs:element ref="fillattr"/>
			<xs:element ref="lineattr"/>
			<xs:element ref="textattr"/>
			<xs:element ref="label"/>
			<xs:element ref="text"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID"/>
	</xs:complexType>
	<xs:element name="Aux" type="Aux"/>
	<xs:complexType name="bendpoint">
		<xs:sequence>
			<xs:element ref="posattr"/>
			<xs:element ref="fillattr"/>
			<xs:element ref="lineattr"/>
			<xs:element ref="textattr"/>
			<xs:element ref="text" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID"/>
		<xs:attribute name="serial" type="xs:string"/>
	</xs:complexType>
	<xs:element name="bendpoint" type="bendpoint"/>
	<xs:complexType name="binders">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="cpnbinder"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="binders" type="binders"/>
	<xs:complexType name="binding">
		<xs:complexContent>
			<xs:restriction base="xs:anyType">
				<xs:attribute name="x" type="xs:string"/>
				<xs:attribute name="y" type="xs:string"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="binding" type="binding"/>
	<xs:complexType name="block">
		<xs:sequence>
			<xs:element ref="id"/>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="block"/>
				<xs:element ref="color"/>
				<xs:element ref="var"/>
				<xs:element ref="ml"/>
				<xs:element ref="globref"/>
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID"/>
	</xs:complexType>
	<xs:element name="block" type="block"/>
	<xs:complexType name="bool">
		<xs:sequence minOccurs="0">
			<xs:element ref="with"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="bool" type="bool"/>
	<xs:complexType name="box">
		<xs:complexContent>
			<xs:restriction base="xs:anyType">
				<xs:attribute name="w" type="xs:string"/>
				<xs:attribute name="h" type="xs:string"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="box" type="box"/>
	<xs:complexType name="by">
		<xs:sequence>
			<xs:element ref="ml"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="by" type="by"/>
	<xs:complexType name="color">
		<xs:sequence>
			<xs:element ref="id"/>
			<xs:element ref="declare" minOccurs="0"/>
			<xs:element ref="timed" minOccurs="0"/>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="unit"/>
				<xs:element ref="bool"/>
				<xs:element ref="int"/>
				<xs:element ref="real"/>
				<xs:element ref="string"/>
				<xs:element ref="enum"/>
				<xs:element ref="index"/>
				<xs:element ref="product"/>
				<xs:element ref="record"/>
				<xs:element ref="list"/>
				<xs:element ref="union"/>
				<xs:element ref="alias"/>
				<xs:element ref="subset"/>
			</xs:choice>
			<xs:element ref="layout" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID"/>
	</xs:complexType>
	<xs:element name="color" type="color"/>
	<xs:complexType name="channel">
		<xs:sequence>
			<xs:element ref="posattr"/>
			<xs:element ref="fillattr"/>
			<xs:element ref="lineattr"/>
			<xs:element ref="textattr"/>
			<xs:element ref="text"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID"/>
	</xs:complexType>
	<xs:element name="channel" type="channel"/>
	<xs:complexType name="channel-key">
		<xs:sequence>
			<xs:element ref="posattr"/>
			<xs:element ref="fillattr"/>
			<xs:element ref="lineattr"/>
			<xs:element ref="textattr"/>
			<xs:element ref="text"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID"/>
	</xs:complexType>
	<xs:element name="channel-key" type="channel-key"/>
	<xs:complexType name="code">
		<xs:sequence>
			<xs:element ref="posattr"/>
			<xs:element ref="fillattr"/>
			<xs:element ref="lineattr"/>
			<xs:element ref="textattr"/>
			<xs:element ref="text"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID"/>
	</xs:complexType>
	<xs:element name="code" type="code"/>
	<xs:complexType name="code-key">
		<xs:sequence>
			<xs:element ref="posattr"/>
			<xs:element ref="fillattr"/>
			<xs:element ref="lineattr"/>
			<xs:element ref="textattr"/>
			<xs:element ref="text"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID"/>
	</xs:complexType>
	<xs:element name="code-key" type="code-key"/>
	<xs:complexType name="cond">
		<xs:sequence>
			<xs:element ref="posattr"/>
			<xs:element ref="fillattr"/>
			<xs:element ref="lineattr"/>
			<xs:element ref="textattr"/>
			<xs:element ref="text"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID"/>
	</xs:complexType>
	<xs:element name="cond" type="cond"/>
	<xs:complexType name="cpnbinder">
		<xs:sequence>
			<xs:element ref="sheets"/>
			<xs:element ref="zorder" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID"/>
		<xs:attribute name="x" type="xs:string"/>
		<xs:attribute name="y" type="xs:string"/>
		<xs:attribute name="width" type="xs:string"/>
		<xs:attribute name="height" type="xs:string"/>
	</xs:complexType>
	<xs:element name="cpnbinder" type="cpnbinder"/>
	<xs:complexType name="cpnet">
		<xs:sequence>
			<xs:element ref="globbox"/>
			<xs:element ref="page" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="fusion" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="instances"/>
			<xs:element ref="options"/>
			<xs:element ref="binders"/>
			<xs:element ref="monitorblock"/>
			<xs:element ref="IndexNode"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="cpnet" type="cpnet"/>
	<xs:complexType name="cpnsheet">
		<xs:sequence>
			<xs:element ref="zorder" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID"/>
		<xs:attribute name="panx" type="xs:string"/>
		<xs:attribute name="pany" type="xs:string"/>
		<xs:attribute name="zoom" type="xs:string"/>
		<xs:attribute name="instance" use="required" type="xs:IDREF"/>
	</xs:complexType>
	<xs:element name="cpnsheet" type="cpnsheet"/>
	<xs:complexType name="declaration">
		<xs:sequence>
			<xs:element ref="ml"/>
		</xs:sequence>
		<xs:attribute name="name" use="required" type="xs:string"/>
	</xs:complexType>
	<xs:element name="declaration" type="declaration"/>
	<xs:complexType name="declare">
		<xs:sequence maxOccurs="unbounded">
			<xs:element ref="id"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="declare" type="declare"/>
	<xs:complexType name="ellipse">
		<xs:complexContent>
			<xs:restriction base="xs:anyType">
				<xs:attribute name="w" type="xs:string"/>
				<xs:attribute name="h" type="xs:string"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="ellipse" type="ellipse"/>
	<xs:complexType name="enum">
		<xs:sequence maxOccurs="unbounded">
			<xs:element ref="id"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="enum" type="enum"/>
	<xs:complexType name="fillattr">
		<xs:complexContent>
			<xs:restriction base="xs:anyType">
				<xs:attribute name="colour" type="xs:string"/>
				<xs:attribute name="pattern" type="xs:string"/>
				<xs:attribute name="filled">
					<xs:simpleType>
						<xs:restriction base="xs:NMTOKEN">
							<xs:enumeration value="true"/>
							<xs:enumeration value="false"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="fillattr" type="fillattr"/>
	<xs:complexType name="fusion">
		<xs:sequence>
			<xs:element ref="fusion_elm" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID"/>
		<xs:attribute name="name" type="xs:string"/>
	</xs:complexType>
	<xs:element name="fusion" type="fusion"/>
	<xs:complexType name="fusion_elm">
		<xs:complexContent>
			<xs:restriction base="xs:anyType">
				<xs:attribute name="idref" type="xs:IDREF"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="fusion_elm" type="fusion_elm"/>
	<xs:complexType name="fusioninfo">
		<xs:sequence>
			<xs:element ref="posattr"/>
			<xs:element ref="fillattr"/>
			<xs:element ref="lineattr"/>
			<xs:element ref="textattr"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID"/>
		<xs:attribute name="name" type="xs:string"/>
	</xs:complexType>
	<xs:element name="fusioninfo" type="fusioninfo"/>
	<xs:complexType name="generator">
		<xs:complexContent>
			<xs:restriction base="xs:anyType">
				<xs:attribute name="tool" type="xs:string"/>
				<xs:attribute name="version" type="xs:string"/>
				<xs:attribute name="format" type="xs:string"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="generator" type="generator"/>
	<xs:complexType name="globbox">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="block"/>
			<xs:element ref="color"/>
			<xs:element ref="var"/>
			<xs:element ref="ml"/>
			<xs:element ref="globref"/>
		</xs:choice>
	</xs:complexType>
	<xs:element name="globbox" type="globbox"/>
	<xs:complexType name="globref">
		<xs:sequence>
			<xs:element ref="id" minOccurs="0"/>
			<xs:element ref="ml" minOccurs="0"/>
			<xs:element ref="layout" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID"/>
	</xs:complexType>
	<xs:element name="globref" type="globref"/>
	<xs:complexType name="group_elm">
		<xs:complexContent>
			<xs:restriction base="xs:anyType">
				<xs:attribute name="idref" type="xs:IDREF"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="group_elm" type="group_elm"/>
	<xs:complexType name="group">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="group_elm"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID"/>
		<xs:attribute name="name" type="xs:string"/>
	</xs:complexType>
	<xs:element name="group" type="group"/>
	<xs:complexType name="guideline_elm">
		<xs:complexContent>
			<xs:restriction base="xs:anyType">
				<xs:attribute name="idref" type="xs:IDREF"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="guideline_elm" type="guideline_elm"/>
	<xs:complexType name="hguideline">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="guideline_elm"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID"/>
		<xs:attribute name="y" type="xs:string"/>
	</xs:complexType>
	<xs:element name="hguideline" type="hguideline"/>
	<xs:complexType name="id" mixed="true">
		<xs:choice minOccurs="0" maxOccurs="unbounded"/>
	</xs:complexType>
	<xs:element name="id" type="id"/>
	<xs:complexType name="index">
		<xs:sequence>
			<xs:element ref="ml"/>
			<xs:element ref="ml"/>
			<xs:element ref="id"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="index" type="index"/>
	<xs:complexType name="IndexNode">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="IndexNode"/>
		</xs:sequence>
		<xs:attribute name="expanded" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="true"/>
					<xs:enumeration value="false"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="IndexNode" type="IndexNode"/>
	<xs:complexType name="initmark">
		<xs:sequence>
			<xs:element ref="posattr"/>
			<xs:element ref="fillattr"/>
			<xs:element ref="lineattr"/>
			<xs:element ref="textattr"/>
			<xs:element ref="text"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID"/>
	</xs:complexType>
	<xs:element name="initmark" type="initmark"/>
	<xs:complexType name="int">
		<xs:sequence minOccurs="0">
			<xs:element ref="with"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="int" type="int"/>
	<xs:complexType name="instance">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="instance"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID"/>
		<xs:attribute name="page" type="xs:IDREF"/>
		<xs:attribute name="trans" type="xs:IDREF"/>
	</xs:complexType>
	<xs:element name="instance" type="instance"/>
	<xs:complexType name="instances">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="instance"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="instances" type="instances"/>
	<xs:complexType name="label">
		<xs:complexContent>
			<xs:restriction base="xs:anyType">
				<xs:attribute name="w" type="xs:string"/>
				<xs:attribute name="h" type="xs:string"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="label" type="label"/>
	<xs:complexType name="layout" mixed="true">
		<xs:choice minOccurs="0" maxOccurs="unbounded"/>
	</xs:complexType>
	<xs:element name="layout" type="layout"/>
	<xs:complexType name="lineattr">
		<xs:complexContent>
			<xs:restriction base="xs:anyType">
				<xs:attribute name="colour" type="xs:string"/>
				<xs:attribute name="thick" type="xs:string"/>
				<xs:attribute name="type" type="xs:string"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="lineattr" type="lineattr"/>
	<xs:complexType name="list">
		<xs:sequence>
			<xs:choice minOccurs="0">
				<xs:element ref="with"/>
			</xs:choice>
			<xs:element ref="id"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="list" type="list"/>
	<xs:complexType name="marking">
		<xs:complexContent>
			<xs:restriction base="xs:anyType">
				<xs:attribute name="x" type="xs:string"/>
				<xs:attribute name="y" type="xs:string"/>
				<xs:attribute name="hidden">
					<xs:simpleType>
						<xs:restriction base="xs:NMTOKEN">
							<xs:enumeration value="true"/>
							<xs:enumeration value="false"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="marking" type="marking"/>
	<xs:complexType name="ml" mixed="true">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="layout"/>
		</xs:choice>
		<xs:attribute name="id" type="xs:ID"/>
	</xs:complexType>
	<xs:element name="ml" type="ml"/>
	<xs:complexType name="monitor">
		<xs:sequence>
			<xs:choice>
				<xs:element ref="node" minOccurs="0" maxOccurs="unbounded"/>
			</xs:choice>
			<xs:choice>
				<xs:element ref="declaration" minOccurs="0" maxOccurs="unbounded"/>
			</xs:choice>
			<xs:choice>
				<xs:element ref="option" minOccurs="0" maxOccurs="unbounded"/>
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="id" use="required" type="xs:ID"/>
		<xs:attribute name="name" use="required" type="xs:string"/>
		<xs:attribute name="type" use="required" type="xs:string"/>
		<xs:attribute name="typedescription" use="required" type="xs:string"/>
		<xs:attribute name="disabled" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="true"/>
					<xs:enumeration value="false"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="monitor" type="monitor"/>
	<xs:complexType name="monitorblock">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="monitor"/>
		</xs:sequence>
		<xs:attribute name="name" use="required" type="xs:string"/>
	</xs:complexType>
	<xs:element name="monitorblock" type="monitorblock"/>
	<xs:complexType name="node">
		<xs:complexContent>
			<xs:restriction base="xs:anyType">
				<xs:attribute name="idref" use="required" type="xs:string"/>
				<xs:attribute name="pageinstanceidref" use="required" type="xs:string"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="node" type="node"/>
	<xs:complexType name="option">
		<xs:sequence>
			<xs:element ref="value" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="name" use="required" type="xs:string"/>
		<xs:attribute name="value">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="true"/>
					<xs:enumeration value="false"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="option" type="option"/>
	<xs:complexType name="options">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="option"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="options" type="options"/>
	<xs:complexType name="page">
		<xs:sequence>
			<xs:element ref="pageattr"/>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="trans"/>
				<xs:element ref="place"/>
				<xs:element ref="arc"/>
				<xs:element ref="Aux"/>
				<xs:element ref="vguideline"/>
				<xs:element ref="hguideline"/>
				<xs:element ref="group"/>
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID"/>
	</xs:complexType>
	<xs:element name="page" type="page"/>
	<xs:complexType name="pageattr">
		<xs:complexContent>
			<xs:restriction base="xs:anyType">
				<xs:attribute name="name" type="xs:string"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="pageattr" type="pageattr"/>
	<xs:complexType name="place">
		<xs:sequence>
			<xs:element ref="posattr"/>
			<xs:element ref="fillattr"/>
			<xs:element ref="lineattr"/>
			<xs:element ref="textattr"/>
			<xs:element ref="text"/>
			<xs:element ref="ellipse"/>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="token"/>
				<xs:element ref="marking"/>
				<xs:element ref="fusioninfo"/>
				<xs:element ref="port"/>
				<xs:element ref="type"/>
				<xs:element ref="initmark"/>
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID"/>
	</xs:complexType>
	<xs:element name="place" type="place"/>
	<xs:complexType name="placeend">
		<xs:complexContent>
			<xs:restriction base="xs:anyType">
				<xs:attribute name="idref" type="xs:IDREF"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="placeend" type="placeend"/>
	<xs:complexType name="port">
		<xs:sequence>
			<xs:element ref="posattr"/>
			<xs:element ref="fillattr"/>
			<xs:element ref="lineattr"/>
			<xs:element ref="textattr"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID"/>
		<xs:attribute name="type" type="xs:string"/>
	</xs:complexType>
	<xs:element name="port" type="port"/>
	<xs:complexType name="posattr">
		<xs:complexContent>
			<xs:restriction base="xs:anyType">
				<xs:attribute name="x" type="xs:string"/>
				<xs:attribute name="y" type="xs:string"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="posattr" type="posattr"/>
	<xs:complexType name="position">
		<xs:complexContent>
			<xs:restriction base="xs:anyType">
				<xs:attribute name="value" use="required" type="xs:string"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="position" type="position"/>
	<xs:complexType name="product">
		<xs:sequence maxOccurs="unbounded">
			<xs:element ref="id"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="product" type="product"/>
	<xs:complexType name="real">
		<xs:sequence minOccurs="0">
			<xs:element ref="with"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="real" type="real"/>
	<xs:complexType name="record">
		<xs:sequence maxOccurs="unbounded">
			<xs:element ref="recordfield"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="record" type="record"/>
	<xs:complexType name="recordfield">
		<xs:sequence>
			<xs:element ref="id"/>
			<xs:element ref="id"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="recordfield" type="recordfield"/>
	<xs:complexType name="sheets">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="cpnsheet"/>
			<xs:element ref="textsheet"/>
		</xs:choice>
	</xs:complexType>
	<xs:element name="sheets" type="sheets"/>
	<xs:complexType name="string">
		<xs:sequence minOccurs="0">
			<xs:element ref="with"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="string" type="string"/>
	<xs:complexType name="subpageinfo">
		<xs:sequence>
			<xs:element ref="posattr"/>
			<xs:element ref="fillattr"/>
			<xs:element ref="lineattr"/>
			<xs:element ref="textattr"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID"/>
		<xs:attribute name="name" type="xs:string"/>
	</xs:complexType>
	<xs:element name="subpageinfo" type="subpageinfo"/>
	<xs:complexType name="subset">
		<xs:sequence>
			<xs:element ref="id" minOccurs="0"/>
			<xs:choice>
				<xs:element ref="with"/>
				<xs:element ref="by"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="subset" type="subset"/>
	<xs:complexType name="subst">
		<xs:sequence>
			<xs:element ref="subpageinfo" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="subpage" type="xs:IDREF"/>
		<xs:attribute name="portsock" type="xs:string"/>
	</xs:complexType>
	<xs:element name="subst" type="subst"/>
	<xs:complexType name="text" mixed="true">
		<xs:choice minOccurs="0" maxOccurs="unbounded"/>
		<xs:attribute name="tool" default="CPN Tools" type="xs:string"/>
		<xs:attribute name="version" type="xs:string"/>
	</xs:complexType>
	<xs:element name="text" type="text"/>
	<xs:complexType name="textattr">
		<xs:complexContent>
			<xs:restriction base="xs:anyType">
				<xs:attribute name="colour" type="xs:string"/>
				<xs:attribute name="bold">
					<xs:simpleType>
						<xs:restriction base="xs:NMTOKEN">
							<xs:enumeration value="true"/>
							<xs:enumeration value="false"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="textattr" type="textattr"/>
	<xs:complexType name="textsheet">
		<xs:sequence>
			<xs:element ref="zorder" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID"/>
		<xs:attribute name="panx" type="xs:string"/>
		<xs:attribute name="pany" type="xs:string"/>
		<xs:attribute name="zoom" type="xs:string"/>
		<xs:attribute name="decl" use="required" type="xs:IDREF"/>
	</xs:complexType>
	<xs:element name="textsheet" type="textsheet"/>
	<xs:complexType name="time">
		<xs:sequence>
			<xs:element ref="posattr"/>
			<xs:element ref="fillattr"/>
			<xs:element ref="lineattr"/>
			<xs:element ref="textattr"/>
			<xs:element ref="text"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID"/>
	</xs:complexType>
	<xs:element name="time" type="time"/>
	<xs:complexType name="timed">
		<xs:complexContent>
			<xs:restriction base="xs:anyType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="timed" type="timed"/>
	<xs:complexType name="token">
		<xs:complexContent>
			<xs:restriction base="xs:anyType">
				<xs:attribute name="x" type="xs:string"/>
				<xs:attribute name="y" type="xs:string"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="token" type="token"/>
	<xs:complexType name="trans">
		<xs:sequence>
			<xs:element ref="posattr"/>
			<xs:element ref="fillattr"/>
			<xs:element ref="lineattr"/>
			<xs:element ref="textattr"/>
			<xs:element ref="text"/>
			<xs:element ref="box"/>
			<xs:element ref="subst" minOccurs="0"/>
			<xs:element ref="binding" minOccurs="0"/>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="time"/>
				<xs:element ref="cond"/>
				<xs:element ref="code-key"/>
				<xs:element ref="code"/>
				<xs:element ref="channel"/>
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID"/>
		<xs:attribute name="explicit">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="true"/>
					<xs:enumeration value="false"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="trans" type="trans"/>
	<xs:complexType name="transend">
		<xs:complexContent>
			<xs:restriction base="xs:anyType">
				<xs:attribute name="idref" type="xs:IDREF"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="transend" type="transend"/>
	<xs:complexType name="type">
		<xs:choice>
			<xs:element ref="id"/>
			<xs:sequence>
				<xs:element ref="posattr"/>
				<xs:element ref="fillattr"/>
				<xs:element ref="lineattr"/>
				<xs:element ref="textattr"/>
				<xs:element ref="text"/>
			</xs:sequence>
		</xs:choice>
		<xs:attribute name="id" type="xs:ID"/>
	</xs:complexType>
	<xs:element name="type" type="type"/>
	<xs:complexType name="union">
		<xs:sequence maxOccurs="unbounded">
			<xs:element ref="unionfield"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="union" type="union"/>
	<xs:complexType name="unionfield">
		<xs:sequence>
			<xs:element ref="id"/>
			<xs:choice minOccurs="0">
				<xs:element ref="type"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="unionfield" type="unionfield"/>
	<xs:complexType name="unit">
		<xs:sequence minOccurs="0">
			<xs:element ref="with"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="unit" type="unit"/>
	<xs:complexType name="value">
		<xs:sequence>
			<xs:element ref="text"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="value" type="value"/>
	<xs:complexType name="var">
		<xs:sequence>
			<xs:element ref="type"/>
			<xs:element ref="id" maxOccurs="unbounded"/>
			<xs:element ref="layout" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID"/>
	</xs:complexType>
	<xs:element name="var" type="var"/>
	<xs:complexType name="vguideline">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="guideline_elm"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID"/>
		<xs:attribute name="x" type="xs:string"/>
	</xs:complexType>
	<xs:element name="vguideline" type="vguideline"/>
	<xs:complexType name="with">
		<xs:choice>
			<xs:sequence>
				<xs:element ref="ml"/>
				<xs:choice>
					<xs:element ref="ml" minOccurs="0"/>
					<xs:element ref="and"/>
				</xs:choice>
			</xs:sequence>
			<xs:sequence>
				<xs:element ref="id"/>
				<xs:choice minOccurs="0">
					<xs:element ref="id"/>
				</xs:choice>
			</xs:sequence>
		</xs:choice>
	</xs:complexType>
	<xs:element name="with" type="with"/>
	<xs:complexType name="workspaceElements">
		<xs:sequence>
			<xs:element ref="generator"/>
			<xs:element ref="cpnet"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="workspaceElements" type="workspaceElements"/>
	<xs:complexType name="zorder">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="position"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="zorder" type="zorder"/>
</xs:schema>
